* {
    font-family: 'Roboto', sans-serif;
}

header {
    position: relative;
}

nav {
    height: 51px;
    background-color: #212121;
}

.menu {
    display: flex;
    justify-content: space-between;
    padding: 13px 70px;
    list-style: none;
    margin-bottom: 0;
}

.menu .menu_link {
    font-size: 15px;
    font-weight: 300;
    color: #ffffff;
}

.menu .menu_item {
    border-right: 2px dotted black;
    padding-right: 28px;
}

.subheader {
    height: 84px;
    background-color:rgba(0,0,0, .6);
    position: absolute;
    width: 100% ;
}

.subheader_text {
    opacity: 0.5;
    font-size: 13px;
    font-weight: 100;
    color: #ffffff;
    margin-top: 11px;
    line-height: 0px;
}

.subheader .subheader_logo {
    display: block;
    max-width: 100%;
    margin-top: 16px;
}

.subheader .subheader_call {
    margin-top: 19px;
    font-size: 12px;
    font-weight: 300;
    color: #ffffff;
    text-align: right;
}

.subheader .subheader_number {
    display: block;
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
    color: #ffffff;
    text-align: right;
    line-height: 20px;
}

.subheader .subheader_btn {
    margin-top: 16px;
    width: 178px;
    height: 52px;
    background-image: linear-gradient(0.0deg, #1eacc7 0%, #4ce2ff 100%);
    border: none;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    text-shadow: 1px 1px 0px rgba(0,0,0,0.2);
    color: #ffffff;
}

.promo {
    min-height: 799px;
    background: url('../img/background/fon1.png') center center/cover no-repeat ;
    padding: 151px 0 132px 0;
}

.promo .promo_header {
    font-size: 60px;
    font-weight: 900;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
    line-height: 60px;
}

.promo .promo_subheader {
    font-size: 36px;
    margin: 0;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
    line-height: 36px;
    margin-top: 13px;
}

.promo .promo_descr {
    font-size: 19px;
    line-height: 24px;
    font-weight: 400;
    color: #ffffff;
    text-align: center;
    padding-top: 23px;
}

.promo .promo_btn {
    display: block;
    margin: 0 auto;
    margin-top: 115px;
    padding: 22px 42px;
    width: 265px;
    height: 69px;
    background-image: linear-gradient(0.0deg, #1eacc7 0%, #4ce2ff 100%);
    border: none;
    box-shadow: inset 0px -4px 0px 0px rgba(0,0,0,0.11);
    text-align: center;
    font-size: 17px;
    font-weight: 400;
    text-transform: uppercase;
    text-shadow: 1px 1px 0px rgba(0,0,0,0.2);
    color: #ffffff;
    border-radius: 4px;
}

.start {
    display: flex;
    justify-content: space-between;
    padding: 65px 0 71px 0;
}

.start .label {
    display: block;
    margin: 0 auto;
    width: 112px;
    height: 24px;
    background-color: #000000;
    font-family: Roboto;
    font-size: 11px;
    line-height: 24px;
    font-weight: 100;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
}

.start .title {
    margin-top: 44px;
    font-size: 38px;
    font-weight: 700;
    text-transform: uppercase;
    color: #222222;
    text-align: center;

}

.start .start_block {
    display: flex;
    justify-content: center;
    margin-top: 45px;

}

.start .start_fon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 113px;
    height: 113px;
    background-color: #1eacc7;
    border-radius: 100%;    
    margin-right: 26px;
    margin-top: 10px;
}

.start .start_text { 
    width: 343px;
}

.start .start_text .blue {
    font-size: 17px;
    line-height: 21px;
    font-weight: 400;
    color: #1eacc7;
}

.start .start_white {
    font-size: 15px;
    font-weight: 300;
    color: #202020;
    line-height: 21px;
}




